/* Resetando margens e preenchimento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    margin-top: -100px;
    width: 100%;
    max-width: 400px;  /* Limita a largura do conteúdo */
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.text-center h2 {
    
    color: #2600ff;
    margin-bottom: 20px;
    font-size: 28px;
}

.form-container {
    margin-top: 0px;
}

.form-container h3 {
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

form input,
form button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

form input:focus,
form button:focus {
    outline: none;
    border-color: #2600ff;
}

.submit-btn {
    background-color: #2600ff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0a0041;
}

.messages {
    list-style-type: none;
    margin-top: 20px;
    padding-left: 0;
    color: #e74c3c;
}

.messages li {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
        width: 100%;
    }
}

/* Navbar */
.navbar {
    
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-left, .navbar-right {
    
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar a {
    font-weight: bold;
    padding:10px;
    background-color: #2600ff;
    border-radius:10px;
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    text-transform: uppercase;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    
}

.navbar a:hover {
    transition: 0.3s ease;
    background-color: #0a0041;
    padding:12px;
    color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.menu {

    position: relative;
    display: inline-block;
}
