{% load static %}
<!doctype html>
<html lang="pt-br">
    <section id="section0">
    <head>
        <title>KGB SOLUTIONS - Página Inicial</title>
        <link rel='stylesheet' href='{% static "css/acessibilidade.css" %}'>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'img/icone.png' %}" type="image/png">
        <link rel='stylesheet' href='{% static "css/main.css" %}'>

<html lang="en">
    <head>
        <header>
            <div>
                
            </div>
        </header>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel='stylesheet' href="{% static 'css/main.css' %}">

    </head>
    <body>
        <div class="menu-acessibilidade" id="menu-acessibilidade">
            <button class="acessibilidade-btn" id="acessibilidade-btn" onclick="toggleAcessibilidadeMenu()">
                <img src="{% static 'img/acessibilidade.png' %}" alt="Acessibilidade" />
            </button>
            <div class="acessibilidade-options">
                <button onclick="aumentarFonte()">Aumentar Fonte</button>
                <button onclick="diminuirFonte()">Diminuir Fonte</button>
                <button onclick="toggleContraste()">Alto Contraste</button>
                <button onclick="resetarAlteracoes()">Resetar</button> <!-- Novo botão para resetar -->
            </div>
        </div> 
    </section>
    <!-- <header class="header">
        
        <nav class="navbar">
            <a href=" ">Início</a>
            {% if request.user.is_authenticated %}
            {% endif %}
            {% if not request.user.is_authenticated %}
            <a href='login'>Login</a>
            {% endif %}
            {% if request.user.is_authenticated %}
            <div class="menu">
                <a href="#">Minha Conta</a>
                <div class="submenu">
                    <a href="perfil/perfil.html">Perfil</a>
                    <a href="logout" class="logout">Sair da Conta</a>
                    <a href='mudarsenha'>Mudar Senha</a>
                </div>
            </div>
            {% endif %}
        </nav>
    </header> -->
    <header class="header">
        <style>
        .header {
            background: url("{% static 'img/banner4.png' %}") no-repeat center center/cover;
            color: #fff;
            padding: 100px 20px;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            letter-spacing: 1px;
            height: 400px;
        }
    </style>
        <nav class="navbar">
            <a href=" ">Início</a>
            {% if request.user.is_authenticated %}
            {% endif %}
            {% if not request.user.is_authenticated %}
            <a href='login'>Login</a>
            {% endif %}
            {% if request.user.is_authenticated %}
            <div class="menu">
                <a href="#">Minha Conta</a>
                <div class="submenu">
                    <a href="perfil/perfil.html">Perfil</a>
                    <a href="logout" class="logout">Sair da Conta</a>
                    <a href='mudarsenha'>Mudar Senha</a>
                    {% if request.user.is_staff %}
                    <a href='admin'>DBA</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </nav>
        <!--<img src="imgs/kgb.png" alt="Logo do site" class="header-logo"/><!-->
        <div class="banner">
    </header>
    <div class="chapeu">
    <img src="{% static 'img/icone.png' %}" class="chapeu" alt="icone da pagina" />
    </div>
    <!-- Nossos Serviços -->

<section class="servicos" id="section1"> <!--servicos id nao sei la oq footer-->
    <h2 class="subtitle">Nossos Serviços</h2>
    <div class="servicos-cards">
        <!-- Primeiro Card -->
        <div class="card">
            <h3>Apoio Administrativo e<br> Gestão Empresarial</h3>
            <img src="{% static 'img/apoio.png' %}" alt="Apoio administrativo e gestão empresarial" class="card-image">
            <ul>
                <li>Organização e Digitalização de Documentos</li>
                <li>Gestão de Projetos</li>
                <li>Atendimento ao Cliente</li>
                <li>Controle de Agendas e Logística</li>
            </ul>
            <a href="products/2" class="card-button">Saiba mais</a>
        </div>
        <!-- Segundo Card -->
        <div class="card">
            <h3>Terceirização Financeira e Gestão de Recursos</h3>
            <img src="{% static 'img/financeiro.png' %}" alt="Terceirização financeira" class="card-image">
            <ul>
                <li>Administração de Fluxo de Caixa</li>
                <li>Elaboração de Relatórios Financeiros</li>
                <li>Assessoria em Investimentos</li>
            </ul>
            <a href="products/3" class="card-button">Saiba mais</a>
        </div>

        <!-- Terceiro Card -->
        <div class="card">
            <h3>Planejamento e  Organização Administrativa</h3>
            <img src="{% static 'img/agenda.png' %}" alt="Planejamento e ajuda com organização administrativa" class="card-image">
            <ul>
                <li>Criação de Cronogramas</li>
                <li>Gestão de Prazos e Tarefas</li>
                <li>Otimização de Processos</li>
                <li>Suporte Estratégico para Tomadas de Decisão</li>
            </ul>
            <a href="products/4" class="card-button">Saiba mais</a>
        </div>

        <!-- Quarto Card -->
        <div class="card">
            <h3>Consultoria em Licitações Públicas e Privadas</h3>
            <img src="{% static 'img/licitacao.png' %}" alt="Consultoria em Licitações" class="card-image">
            <ul>
                <li>Apoio no processo de licitações públicas e privadas</li>
                <li>Análise de Editais e Regulamentos</li>
                <li>Análise de Riscos em Licitações</li>
            </ul>
            <a href="products/5" class="card-button">Saiba mais</a>
        </div>

        <!-- Quinto Card -->
        <div class="card">
            <h3>Desenvolvimento<br> de<br> Sistemas</h3>
            <img src="{% static 'img/sistemas.png' %}" alt="Desenvolvimento de Sistemas" class="card-image">
            <ul>
                <li>Criação de software sob medida</li>
                <li>Automatização de processos empresariais</li>
                <li>Desenvolvimento de aplicativos corporativos</li>
                <li>Suporte e Manutenção Pós-Implementação</li>
            </ul>
            <a href="products/6" class="card-button">Saiba mais</a>
        </div>
    </div>
</section>
    <!-- O que nossos clientes dizem -->
    <section class="clientes">
        <h2>O que nossos clientes dizem</h2>
        <div class="testimonials animate-on-scroll">
            <div class="testimonial">
                <p class="cliente-nome">João Silva</p>
                <p class="cliente-info">São Paulo</p>
                <p class="testimonial-text">"Excelente serviço! A equipe é muito profissional e atenciosa."</p>
                <div class="avaliacao">
                    <div class="stars">★★★★★</div> <!-- Estrelas de avaliação -->
                </div>
            </div>
            <div class="testimonial">
                <p class="cliente-nome">Maria Oliveira</p>
                <p class="cliente-info">Rio de Janeiro</p>
                <p class="testimonial-text">"A experiência foi incrível, superou todas as minhas expectativas!"</p>
                <div class="avaliacao">
                    <div class="stars">★★★★★</div>
                </div>
            </div>
            <div class="testimonial">
                <p class="cliente-nome">Ana Costa</p>
                <p class="cliente-info">Porto Alegre</p>
                <p class="testimonial-text">"Muito satisfeita com o resultado. Recomendo a todos!"</p>
                <div class="avaliacao">
                    <div class="stars">★★★★★</div>
                </div>
            </div>
        </div>
    </section>
    <!-- Sobre Nós -->
    <section class="sobre-nos">
        <div class="sobre-nos-content animate-on-scroll">
            <div class="sobre-nos-info">
                <h2>Sobre Nós</h2>
                <p>Somos uma empresa especializada em oferecer soluções personalizadas para a área de licitações e gestão empresarial. Com uma equipe altamente capacitada, buscamos sempre oferecer os melhores serviços, focando em inovação, eficiência e qualidade no atendimento.</p>
            </div>
            <div class="sobre-nos-imagem">
                <img src="{% static 'img/kgbsolutions2.png' %}" alt="Nossa equipe" class="imagem-sobre-nos">
            </div>
        </div>
    </section>

    <!-- Agendamento Profissional -->
    <section class="agendamento" id="section2">
        <div class="agendamento-container animate-on-scroll">
            <h2>Agendamento de Consultoria</h2>
            <h3>Reserve sua consulta com um de nossos especialistas e descubra como podemos agregar valor ao seu negócio.</h3>
            <p class="descricao-agendamento">Para agendar, clique no botão abaixo. Nossa equipe entrará em contato com você para confirmar os detalhes e agendar o horário mais conveniente.</p>
            <a href="contact/" class="button agendar-button">Agendar Agora</a>
        </div>
    </section>

    <!-- Footer -->
  <!-- Footer -->
<footer class="footer">
    <div class="footer-container">
        <!-- Informações de Contato -->
        <div class="footer-section">
            <h3>Contato</h3>
            <ul>
                <li>Email: <a href="mailto:kgbsolutionsbr@gmail.com.br">kgbsolutionsbr@gmail.com.br</a></li>
                <a href="https://wa.me/5511987654321" target="_blank">Clique para conversar no WhatsApp</a>
                <li>Endereço: R. Arno Waldemar Döhler, 957 - Zona Industrial Norte, Joinville - SC</li>
            </ul>
        </div>

        <!-- Redes Sociais -->
        <div class="footer-section">
            <h3>Redes Sociais</h3>
            <div class="social-icons">
                <a href="https://www.instagram.com/kgbsolutions" target="_blank" class="social-icon">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram" width="30" height="30">
                </a>
                <a href="https://www.threads.net/@kgbsolutions" target="_blank" class="social-icon">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/0/01/Threads_%28app%29.svg" alt="Threads" width="30" height="30">
                </a>
                <a href="https://wa.me/47988527542" target="_blank" class="social-icon">
                   <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="Whatsapp" width="30" height="30">
                <!-- Adicione outros ícones de redes sociais aqui, se necessário -->
            </div>
        </div>
        <!-- Links Importantes -->
        <div class="footer-section">
            <h3>Links Úteis</h3>
            <ul>
                <li><a href="contact/">Suporte</a></li>
                <li><a href="#section0">Página Inicial</a></li>
                <li><a href="#section1">Serviços</a></li>
                <li><a href="#section2">Agendamento De Consulta</a></li>
            </ul>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-bottom">
        <p>&copy; 2024 KGB Solutions. Todos os direitos reservados.</p>
    </div>
</footer>
    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="{% static 'js/darkmode.js' %}"></script>
        <script>

            const logoutMessage = "{{ request.session.logout_message|default:'' }}";
            if (logoutMessage) {
                alert(logoutMessage);  // Exibe o alerta
                            // Limpa a mensagem da sessão
                fetch("{% url 'clear_logout_message' %}");
            }
        </script>
    </body>
</html>