{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação de Agendamento - KGB SOLUTIONS</title>
    <link rel="stylesheet" href='{% static "css/confirmacao.css" %}'>
    <link rel="icon" href="imgs/icone.png" type="image/png">

</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
    </nav>
    <!-- Conteúdo Principal -->
    <section class="confirmacao-section">
        <h1>Formulário Enviado!</h1>
        <p>Obrigado por enviar seu formulário para a KGB Solutions. Nossa equipe entrará em contato com você em breve.</p>
        <p>Detalhes do agendamento foram enviados para o seu e-mail.</p>
        
        <a href="/" class="btn-voltar">Voltar para a Página Inicial</a>
    </section>

</body>
</html>
