{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta em Licitações Públicas e Privadas</title>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <link rel="icon" href='{% static "img/icone.png" %}'  type="image/png">
</head>
<body>
    <header>
        <h1>Consulta em Licitações Públicas e Privadas</h1>
        <p>Acompanhamento estratégico de oportunidades e processos licitatórios para o sucesso da sua empresa.</p>
    </header>

    <main class="container">
        <section class="sobre">
            <h2>Sobre o Serviço</h2>
            <p>
                Oferecemos uma solução completa para consulta e acompanhamento de licitações, tanto públicas quanto privadas. 
                Nossa plataforma permite que sua empresa identifique as melhores oportunidades, com a segurança e agilidade que você precisa para participar de processos licitatórios com sucesso.
            </p>
            <img src='{% static "img/licitacoes.jpg" %}' alt="Consulta de Licitações" class="imagem-centralizada">
        </section>

        <section class="beneficios">
            <h2>Benefícios do Serviço</h2>
            <ul>
                <li>Acesso a licitações públicas e privadas em tempo real;</li>
                <li>Filtragem de oportunidades por segmento de mercado e localização;</li>
                <li>Alertas automáticos para novas licitações e prazos importantes;</li>
                <li>Consultoria especializada para elaboração de propostas;</li>
                <li>Análise de editais e orientações sobre requisitos legais;</li>
                <li>Monitoramento contínuo do andamento de processos licitatórios;</li>
            </ul>
        </section>

        <section class="como-funciona">
            <h2>Como Funciona</h2>
            <p>
                Nossa plataforma realiza a consulta em diversos portais de licitações, tanto públicos quanto privados, oferecendo relatórios detalhados com as melhores oportunidades. 
                Nossa equipe também pode auxiliá-lo na análise e acompanhamento de cada processo licitatório.
            </p>
            <img src='{% static "img/ciclo-licitacao.jpg" %}' alt=" " class="imagem-centralizada">
        </section>

        <section class="depoimentos">
            <h2>O Que Nossos Clientes Dizem</h2>
            <blockquote class="depoimento">
                "Utilizar os serviços de consulta em licitações foi essencial para nossa participação em processos de grande porte. 
                Conseguimos identificar as oportunidades certas e aumentar nossa participação no mercado."
                <cite>– João Almeida, Diretor de Compras da Empresa XYZ</cite>
            </blockquote>
        </section>

        <div class="button-container">
            <a href="/formularios">Agendar Consulta</a>
        </div>
        <div class="button-container">
            <a href="/#section1" class="voltar">Voltar para a Página Inicial</a>
        </div>
    </main>
    <!-- JavaScript -->
    <script src="../js/darkmode.js"></script>
</body>
</html>
