{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terceirização Financeira e Gestão de Recursos</title>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <link rel="icon" href='{% static "img/icone.png" %}' type="image/png">
</head>
<body>
    <header>
        <h1>Terceirização Financeira e Gestão de Recursos</h1>
        <p>Controle financeiro estratégico e eficiente para o sucesso do seu negócio.</p>
    </header>

    <main class="container">
        <section class="sobre">
            <h2>Sobre o Serviço</h2>
            <p>
                A nossa terceirização financeira oferece soluções inovadoras para otimizar a gestão dos seus recursos. 
                Cuidamos de todas as operações financeiras da sua empresa, permitindo que você se concentre no crescimento do negócio.
            </p>
            <img src='{% static "img/terceirizacao.jpg" %}' alt="Análise financeira e gestão de recursos" class="imagem-centralizada">
        </section>

        <section class="beneficios">
            <h2>Benefícios do Serviço</h2>
            <ul>
                <li>Redução de custos operacionais com uma equipe terceirizada especializada;</li>
                <li>Gerenciamento preciso do fluxo de caixa e relatórios financeiros;</li>
                <li>Planejamento estratégico para otimização de recursos;</li>
                <li>Compliance fiscal e tributária para garantir conformidade com as leis;</li>
                <li>Análise contínua de indicadores financeiros para tomada de decisões assertivas;</li>
                <li>Flexibilidade para escalar serviços conforme a necessidade do seu negócio;</li>
            </ul>
        </section>

        <section class="como-funciona">
            <h2>Como Funciona</h2>
            <p>
                Nossa equipe analisa os processos financeiros da sua empresa, implementa sistemas de controle eficazes e oferece relatórios regulares. 
                Trabalhamos lado a lado com você para garantir que suas operações financeiras estejam alinhadas com os objetivos estratégicos do seu negócio.
            </p>
            <img src='{% static "/img/ciclo-do-plano-financeiro.jpg" %}' alt="Processo de planejamento financeiro" class="imagem-centralizada">
        </section>

        <section class="depoimentos">
            <h2>O Que Nossos Clientes Dizem</h2>
            <blockquote class="depoimento">
                "Delegar a gestão financeira para a equipe da KGB Solutions foi a melhor decisão que tomamos. 
                Hoje temos controle total sobre nosso fluxo de caixa e um planejamento estratégico claro."
                <cite>– Ana Costa, CFO da Empresa ABN Monitoramento De Caixas</cite>
            </blockquote>
        </section>

        <div class="button-container">
            <a href="/formularios">Agendar Serviço</a>
        </div>
        <div class="button-container">
            <a href="/#section1" class="voltar">Voltar para a Página Inicial</a>
        </div>
    </main>
    <!-- JavaScript -->
    <script src="../js/darkmode.js"></script>
</body>
</html>
