{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desenvolvimento de Sistemas</title>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <link rel="icon" href='{% static "img/icone.png" %}'  type="image/png">

</head>
<body>
    <header>
        <h1>Desenvolvimento de Sistemas Sob Medida</h1>
        <p>Soluções personalizadas para atender às necessidades específicas do seu negócio.</p>
    </header>

    <main class="container">
        <section class="sobre">
            <h2>Sobre o Serviço</h2>
            <p>
                Oferecemos serviços completos de desenvolvimento de sistemas personalizados, com foco em atender às necessidades específicas de cada cliente. 
                Trabalhamos em estreita colaboração para criar soluções inovadoras que melhoram a eficiência e a competitividade do seu negócio.
            </p>
            <img src='{% static "img/desenvolvimento.jpg" %}' alt="Desenvolvimento de Sistemas" class="imagem-centralizada">
        </section>

        <section class="beneficios">
            <h2>Benefícios do Serviço</h2>
            <ul>
                <li>Soluções sob medida para otimizar processos internos;</li>
                <li>Desenvolvimento ágil e integrado com a operação da sua empresa;</li>
                <li>Interfaces intuitivas e de fácil utilização para usuários;</li>
                <li>Escalabilidade para acompanhar o crescimento do seu negócio;</li>
                <li>Suporte contínuo para manutenção e melhorias dos sistemas;</li>
                <li>Inovações tecnológicas para garantir a competitividade no mercado;</li>
            </ul>
        </section>

        <section class="como-funciona">
            <h2>Como Funciona</h2>
            <p>
                Nosso processo de desenvolvimento começa com uma análise detalhada das necessidades da sua empresa, seguida pela criação de um projeto personalizado. 
                Utilizamos metodologias ágeis para garantir entregas rápidas e eficientes, com acompanhamento constante para ajustes conforme o progresso.
            </p>
            <img src='{% static "img/ciclo-desenvolvimento.jpg" %}' alt="Processo de Desenvolvimento de Sistemas" class="imagem-centralizada">
        </section>

        <section class="depoimentos">
            <h2>O Que Nossos Clientes Dizem</h2>
            <blockquote class="depoimento">
                "O desenvolvimento de um sistema personalizado para nossa empresa foi um divisor de águas. 
                Agora, temos soluções práticas que atendem às nossas necessidades específicas e melhoraram a produtividade do time."
                <cite>– Mariana Lima, CEO da Empresa TechSolution</cite>
            </blockquote>
        </section>

        <div class="button-container">
            <a href="/formularios">Agendar Consultoria</a>
        </div>
        <div class="button-container">
            <a href="/#section1" class="voltar">Voltar para a Página Inicial</a>
        </div>
    </main>
    <!-- JavaScript -->
    <script src="../js/darkmode.js"></script>
</body>
</html>
