{% load static %}

<link rel="stylesheet" href="{% static 'css/mudarsenha.css' %}">

{% if request.user.is_authenticated %}
  <!-- Conteúdo quando o usuário estiver autenticado -->
{% endif %}
{% if not request.user.is_authenticated %}
  <a href="login">Login</a>
{% endif %}
{% if request.user.is_authenticated %}
  <!-- Conteúdo quando o usuário estiver autenticado -->
{% endif %}

<div class="container">
    <div class="text-center">
        <h2>Mude Sua Senha!</h2>
    </div>

    {% block content %}
    <div class="form-container">
        <h3>Alterar Senha</h3>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}  <!-- Exibe o formulário -->
            </div>
            <button type="submit" class="submit-btn">Alterar Senha</button>
        </form>

        <!-- Botão de Voltar -->
        <button onclick="window.history.back();" class="btn-voltar">Voltar</button>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endblock %}
</div>
